{# 返回顶部按钮 #}
<style type="text/css">
    .btns {
        font-weight: bold;
        display: inline-block;
        width: 50px;
        height: 27px;
        background: #D9D9D9;
        font-size: 1.4em;
        text-align: center;
        padding-top: 5px;
        color: white;
    }

    a:hover {
        color: #FFFFFF
    }
</style>
<div style="overflow: hidden;position: fixed;right: 10px;bottom: 20px;z-index: 10;">
    <div style="overflow: hidden;">
        <div style="padding-top:20px;padding-right:50px;padding-bottom:50px">
            <a href="#" style="float: right;" class="btns"><span class="glyphicon glyphicon-arrow-up"
                                                                 aria-hidden="true"></span></a>
        </div>
    </div>
</div>